<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="com.amazonaws.services.lambda.runtime.log4j2.LambdaAppender">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%highlight{%level}] - %m%n" />
		</Console>
		<Lambda name="Lambda">
			<PatternLayout>
				<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %X{AWSRequestId} [%-5p] %c{1}:%L - %m%n</pattern>
			</PatternLayout>
		</Lambda>
	</Appenders>
	<Loggers>
		<Root level="info" includeLocation="true">
			<AppenderRef ref="Console" />
			<AppenderRef ref="Lambda" />
		</Root>
	</Loggers>
</Configuration>
